
main {width:750px; margin-left:auto; margin-right:auto;}

h1 {font-size: 300%;} 
p {font-size: 100%;}

body{background-color:#f1d893;}


.weekline {width: 100%; height: 1px; margin-bottom: 30px; background-color: #000000; }

