
main {width:750px; margin-left:auto; margin-right:auto;}

h1 {font-size: 300%;} 
h2 {font-size: 200%;} 
p {font-size: 100%;}

body{background-color:#c3e6ec;}


.weekline {width: 100%; height: 1px; margin-bottom: 30px; background-color: #000000; }

